.nav-link {
    color: rgba(255, 255, 255, .5);
}

.bg-dark {
    background-color: #343a40 !important;
}


/* Visibility Control */
/*  */

@media (min-width: 960px) {
  .mobile-menu-btn {
    display: none !important;
  }
}

@media (max-width: 959.98px) {
  .desktop-menu {
    display: none !important;
  }
}


.full-height {
  height: 100%;
  min-height: 100vh;
}