<div class="errorDiv" *ngIf="errorOccured()">
  <strong>une erreur est survenue</strong>
</div>

<app-film-filter-sort></app-film-filter-sort>

<div class="myDiv">
  <ng-container *ngIf="store.loading()">
    <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
      <mat-card class="film-card">
        <div class="skeleton skeleton-image"></div>
        <mat-card-content>
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text short"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-container *ngIf="!store.loading()">
    <div *ngFor="let film of store.films()">
      <mat-card class="film-card">
        <a [routerLink]="['/filmDetail', film.id]">
          <img mat-card-image [src]="film.posterPath" class="film-header-image" [alt]="film.titre" />
        </a>
        <mat-card-content>
          <div class="film-title"><strong>{{film.titre}}</strong></div>
          <div class="status-row">
            Durée : {{film.runtime}}
          </div>
          <div *ngIf="film.origine === dvdOrigineEnum && film.dvd">
            {{film.dvd.format}} Rippé : &nbsp;
            <img [src]="film.dvd.ripped ? 'assets/img/ok.png' : 'assets/img/ko.png'" class="img ripped" />
          </div>

          <div *ngIf="film.origine !== dvdOrigineEnum">{{film.origine}}</div>

          <div class="status-row">
            <span>Vu :</span>
            <img [src]="film.vu ? 'assets/img/ok.png' : 'assets/img/ko.png'" class="ripped" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>

<mat-paginator [length]="store.totalElements()" [pageSizeOptions]="[50, 100]" [pageSize]="store.pageSize()"
  (page)="handlePageEvent($event)">
</mat-paginator>