* {
  box-sizing: border-box;
}

.paginator {
  width: 70%;
  display: flex;
}
.grid-tile {
  width: 100%;
  height: 100%;
}
.myDiv {
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  min-width: auto;
}
.film-card {
  height: 100%;
  padding: 0.4em;
  width: 100%;
}
.film-title{
  font-size: 14px;
}
.film-header-image {
  background-size: cover;
  background-position: center;
  width: 100%;
}
img.ripped {
  width: 15px;
  height: auto;
}
.errorDiv {
  padding: 0 7em 2em 0;
  font-size: 16px;
  color: red;
  text-align: center;
}
.mat-mdc-card{
  box-shadow: none;
}