<div *ngIf="errorOccured()">
  Une erreur est survenue !
</div>

<app-film-filter-sort (filterChange)="filterOnFilmFilterSort($event)"></app-film-filter-sort>

<div *ngIf="films() && films().length > 0">
  <table mat-table [dataSource]="films()" class="mat-elevation-z8">
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let film">{{ film.titre }}</td>
    </ng-container>

    <ng-container matColumnDef="realisateur">
      <th mat-header-cell *matHeaderCellDef>Réalisateur</th>
      <td mat-cell *matCellDef="let film">{{ film.realisateur[0].nom }}</td>
    </ng-container>

    <ng-container matColumnDef="annee">
      <th mat-header-cell *matHeaderCellDef>Année</th>
      <td mat-cell *matCellDef="let film">{{ film.annee }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let film">
        <button (click)="removeFilm(film.id)" [disabled]="buttonDisabled">Supprimer</button>
        <button (click)="retrieveFilmImage(film.id)" [disabled]="buttonDisabled">Trouver</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[50,100]"
    [pageSize]="pageSize()"
    [length]="totalElements()"
    (page)="handlePageEvent($event)">
  </mat-paginator>
</div>