<div class="grid-item">
  <mat-form-field appearance="fill">
    <mat-label>Titre</mat-label>
    <input matInput 
           [ngModel]="filmFilterSort().titre" 
           (ngModelChange)="updateField('titre', $event)">
  </mat-form-field>
</div>

<div class="grid-item">
  <mat-form-field appearance="fill">
    <mat-label>Réalisateur</mat-label>
    <input matInput 
           [ngModel]="filmFilterSort().realisateur" 
           (ngModelChange)="updateField('realisateur', $event)">
  </mat-form-field>
</div>

<div class="grid-item">
  <mat-form-field appearance="fill">
    <mat-label>Acteur</mat-label>
    <input matInput 
           [ngModel]="filmFilterSort().acteur" 
           (ngModelChange)="updateField('acteur', $event)">
  </mat-form-field>
</div>

<div class="grid-item">
  <mat-form-field appearance="fill">
    <mat-label>Origine</mat-label>
    <mat-select [ngModel]="filmFilterSort().origine" 
                (ngModelChange)="updateField('origine', $event)">
      <mat-option *ngFor="let origine of origines()" [value]="origine">{{ origine }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="grid-item">
  <mat-form-field appearance="fill">
    <mat-label>Vu</mat-label>
    <mat-select [ngModel]="filmFilterSort().vu" 
                (ngModelChange)="updateField('vu', $event)">
      <mat-option *ngFor="let vu of vuOptions" [value]="vu">{{ vu }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="grid-item">
  <mat-form-field appearance="fill">
    <mat-label>Tri</mat-label>
    <mat-select [ngModel]="filmFilterSort().sortBy" 
                (ngModelChange)="updateField('sortBy', $event)">
      <mat-option *ngFor="let sort of sortByOptions" [value]="sort">{{ sort }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="grid-item">
  <button mat-raised-button class="btn btn-primary" (click)="reset()">Effacer les filtres</button>
</div>