.grid-container {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
  
.grid-item {
    display: inline-flex;
    align-items: center;
    grid-gap: 1px;
    
    padding: 1px;
    padding-top: 1px;
    font-size: 0.9rem;
}