
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
  
.grid-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 200px;
  grid-gap: 1px;
}
.label-pre {
  grid-column: 1 / 2;
  font-size: 20px;
}
.label-val {
  grid-column: 2 / 3;
  font: bold;
  font-size: 20px;
}
.poster {
  width: 500px;
  height: 750px;
}