<div class="errorDiv" *ngIf="errorOccured">
    <strong>une erreur est survenue</strong>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>

<div class="grid-container" >
    <div class="grid-item" >
        <mat-form-field class="full-width">
            <mat-label>Titre</mat-label>
            <input matInput placeholder="Titre" [(ngModel)]="title">
        </mat-form-field>
    </div>
    <div class="grid-item" >
        <mat-form-field appearance="fill">
          <mat-label>Trié par</mat-label>
            <mat-select [(ngModel)]="sortBySelected" name="sortBySelected">
              <mat-option *ngFor="let sortBy of sortByOptions" [value]="sortBy">
                {{sortBy}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    <div class="grid-item" >
        <button type="button" class="btn btn-primary" (click)="filter()" [disabled]="buttonDisabled">Filtrer</button>&nbsp;
      
        <button type="button" class="btn btn-primary" (click)="resetFields()" [disabled]="buttonDisabled">Effecer les filtres</button>
      </div>
</div>
<table mat-table [dataSource]="ficheFilms" class="mat-elevation-z8">
    <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let film">{{film.title}}</td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let film">{{film.id}}</td>
    </ng-container>
    <ng-container matColumnDef="allocineFilmId">
        <th mat-header-cell *matHeaderCellDef>allocineFilmId</th>
        <td mat-cell *matCellDef="let film">{{film.allocineFilmId}}</td>
    </ng-container>
    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>url</th>
        <td mat-cell *matCellDef="let film"><a href="{{film.url}}" target="_blank">{{film.url}}</a></td>
    </ng-container>
    <ng-container matColumnDef="pageNumber">
        <th mat-header-cell *matHeaderCellDef>pageNumber</th>
        <td mat-cell *matCellDef="let film">{{film.pageNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef>creationDate</th>
        <td mat-cell *matCellDef="let film">{{film.creationDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator [pageSizeOptions]="[50, 100]" [pageSize]="50" [length]="totalElements"
    (page)="handlePageEvent($event)" class="paginator">
</mat-paginator>